
  <section id="splash" class="row">
    <div ng-include src="'partials/splash'"></div>
  </section>

  <div class="form-border"></div>
  <section id="form" class="row">
    <div ng-include src="'partials/form'"></div>
  </section>

  <section id="question" class="row">
    <div ng-include src="'partials/question'"></div>
  </section>

  <section id="process" class="row">
    <div ng-include src="'partials/process'"></div>
  </section>

  <section id="connect" class="row">
    <div ng-include src="'partials/connect'"></div>
  </section>

  <section id="footer" class="row">
    <div ng-include src="'partials/footer'"></div>
  </section>