
<div class="modal-header row">
    <div class="col-xs-10">
        <h3 class="modal-title all-caps">Rheumatoid Arthritis</h3>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-warning" ng-click="cancel()">X</button>
    </div>
</div>

<div class="modal-body">
    <div class="study">
        <div class="study-image">
            <img ng-src="https://d2xrs3qqoda7l2.cloudfront.net/asset/study.png" />
        </div>

        <div class="study-text">
            <p>In order to partipate in this study you must meet the following criteria:</p>
            <ul>
                <li>At least 18 years of age</li>
                <li>A resident of the United States</li>
                <li>Have proof of diagnosis</li>
            </ul>
        </div>

    </div>
</div>

<div class="modal-footer">
    
</div>